<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />

    <!-- Load polyfills to support older browsers -->
    <script
      src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
      crossorigin="anonymous"
    ></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <title>VC Visual Verifier</title>
  </head>
  <body>
    <div id="app">
      <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
          <b-navbar-brand href="#">{{ settings.VERIFIER_NAME }}</b-navbar-brand>
        </b-navbar>
      </div>


      <b-container fluid="md" class="py-3">

        {% if user.is_anonymous %}
        
        <b-card>
          <b-card-title>Authentication Required</b-card-title>
          <b-card-text>Please authenticate by providing your credentials.</b-card-text>
          {% url 'oidc_auth_request' as login_url %}
              <b-button href="{{ login_url }}?pres_req_conf_id={{ settings.VC_AUTHN_PRES_REQ_CONF_ID }}" variant="primary">Proceed</b-button>
        </b-card>
        </div>

        {% else %}

        <b-card-group deck>
          <b-card
            header="featured"
            header-tag="header"
            footer="Card Footer"
            footer-tag="footer"
            title="Title"
          >
            <b-card-text>Header and footers using props.</b-card-text>
            <b-button href="#" variant="primary">Go somewhere</b-button>
          </b-card>
      
          <b-card title="Title" header-tag="header" footer-tag="footer">
            <template v-slot:header>
              <h6 class="mb-0">Header Slot</h6>
            </template>
            <b-card-text>Header and footers using slots.</b-card-text>
            <b-button href="#" variant="primary">Go somewhere</b-button>
            <template v-slot:footer>
              <em>Footer Slot</em>
            </template>
          </b-card>
        </b-card-group>

        {% endif %}
      </b-container>
      
    </div>

    <script type="text/javascript">
      var app = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        data: {
          message: "Hello Vue!",
        },
        methods: {},
      });
    </script>
  </body>
</html>
